@page "/"
@using Blazorise


<div style="display: flex; justify-content: center; align-items: center; height: 100vh; ">

    <div class="row m-2 top-0">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.Car" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                New

            </div>

        </div>
        </div>
    <div class="row m-2">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.ListUl" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                Liste

            </div>

        </div>
    </div>
    <div class="row m-2">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.ListUl" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                Liste

            </div>

        </div>
    </div>
    <div class="row m-2">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.ListUl" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                Liste

            </div>

        </div>
    </div>
    <div class="row m-2">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.ListUl" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                Liste

            </div>

        </div>
    </div>
     <div class="row m-2">
        <div class="col text-center">
            <!-- Your content here -->
            <div class="col-3 bg-danger">

                <button type="submit" class="btn btn-success ">
                    <Icon Name="IconName.ListUl" IconSize="IconSize.x6" />
                </button>
            </div>
            <div class="row text-center justify-content-center btn-main-page">
                Liste

            </div>

        </div>
    </div>
</div>


       

