@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style=" background-color:#b5bdc6;">
        
        <article class="content px-4 ">
            @Body
        </article>
    </main>
</div>
