@page "/"
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh; /* Optionally set a fixed height to the container */
        background-color:#b5bdc6;
    }

    .centered-img {
        max-width: 80%; /* Ensure the image does not exceed the width of its container */
        max-height: 80%; /* Ensure the image does not exceed the height of its container */
    }
</style>
<div class="container">
@*     <img src="/images/NexStore1.jpeg" alt="Centered Image" class="centered-img">
 *@</div>
